--
-- PostgreSQL database dump
--

\restrict ZxzufrP6eRtEoX6QZXac7Ay0flqdfpoXUgnT6PzR4XFMOVqScamDwSahdkS25iY

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_otpcode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_otpcode (
    id bigint NOT NULL,
    phone character varying(15) NOT NULL,
    code character varying(6) NOT NULL,
    is_used boolean NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.accounts_otpcode OWNER TO postgres;

--
-- Name: accounts_otpcode_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_otpcode ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_otpcode_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    phone character varying(15) NOT NULL,
    role character varying(20) NOT NULL,
    is_blocked boolean NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO postgres;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO postgres;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO postgres;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_usersession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_usersession (
    id bigint NOT NULL,
    session_key character varying(255) NOT NULL,
    device_name character varying(255),
    ip_address inet,
    user_agent text,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_activity timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.accounts_usersession OWNER TO postgres;

--
-- Name: accounts_usersession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_usersession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_usersession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    discount_id bigint
);


ALTER TABLE public.commerce_cart OWNER TO postgres;

--
-- Name: commerce_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_cartitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_cartitem (
    id bigint NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    quantity integer NOT NULL,
    CONSTRAINT commerce_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.commerce_cartitem OWNER TO postgres;

--
-- Name: commerce_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_discount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_discount (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    percent integer NOT NULL,
    max_usage integer,
    used_count integer NOT NULL,
    is_active boolean NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT commerce_discount_max_usage_check CHECK ((max_usage >= 0)),
    CONSTRAINT commerce_discount_percent_check CHECK ((percent >= 0)),
    CONSTRAINT commerce_discount_used_count_check CHECK ((used_count >= 0))
);


ALTER TABLE public.commerce_discount OWNER TO postgres;

--
-- Name: commerce_discount_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_discount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_discount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_order (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    total_price integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    discount_id bigint,
    CONSTRAINT commerce_order_total_price_check CHECK ((total_price >= 0))
);


ALTER TABLE public.commerce_order OWNER TO postgres;

--
-- Name: commerce_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_orderitem (
    id bigint NOT NULL,
    price integer NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    quantity integer NOT NULL,
    CONSTRAINT commerce_orderitem_price_check CHECK ((price >= 0)),
    CONSTRAINT commerce_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.commerce_orderitem OWNER TO postgres;

--
-- Name: commerce_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_payment (
    id bigint NOT NULL,
    amount integer NOT NULL,
    authority character varying(255),
    ref_id character varying(255),
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    order_id bigint NOT NULL,
    gateway_response jsonb,
    CONSTRAINT commerce_payment_amount_check CHECK ((amount >= 0))
);


ALTER TABLE public.commerce_payment OWNER TO postgres;

--
-- Name: commerce_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_product (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    type character varying(20) NOT NULL,
    price integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    course_id bigint,
    pattern_id bigint,
    CONSTRAINT commerce_product_price_check CHECK ((price >= 0))
);


ALTER TABLE public.commerce_product OWNER TO postgres;

--
-- Name: commerce_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_purchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_purchase (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.commerce_purchase OWNER TO postgres;

--
-- Name: commerce_purchase_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_purchase ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_purchase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commerce_wishlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commerce_wishlist (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.commerce_wishlist OWNER TO postgres;

--
-- Name: commerce_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commerce_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commerce_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_chapter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_chapter (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    "order" integer NOT NULL,
    course_id bigint NOT NULL,
    CONSTRAINT courses_chapter_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.courses_chapter OWNER TO postgres;

--
-- Name: courses_chapter_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_chapter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_chapter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_course (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    slug character varying(50) NOT NULL,
    description text NOT NULL,
    thumbnail character varying(100),
    price integer NOT NULL,
    is_published boolean NOT NULL,
    is_free boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT courses_course_price_check CHECK ((price >= 0))
);


ALTER TABLE public.courses_course OWNER TO postgres;

--
-- Name: courses_course_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_course ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_course_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_lesson; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_lesson (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    video character varying(100) NOT NULL,
    duration integer NOT NULL,
    "order" integer NOT NULL,
    is_free boolean NOT NULL,
    is_published boolean NOT NULL,
    chapter_id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT courses_lesson_duration_check CHECK ((duration >= 0)),
    CONSTRAINT courses_lesson_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.courses_lesson OWNER TO postgres;

--
-- Name: courses_lesson_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_lesson ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_lesson_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_lessonprogress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses_lessonprogress (
    id bigint NOT NULL,
    watched_seconds integer NOT NULL,
    completed boolean NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    lesson_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT courses_lessonprogress_watched_seconds_check CHECK ((watched_seconds >= 0))
);


ALTER TABLE public.courses_lessonprogress OWNER TO postgres;

--
-- Name: courses_lessonprogress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses_lessonprogress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_lessonprogress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: patterns_pattern; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patterns_pattern (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    slug character varying(50) NOT NULL,
    description text NOT NULL,
    thumbnail character varying(100),
    file character varying(100) NOT NULL,
    price integer NOT NULL,
    is_published boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT patterns_pattern_price_check CHECK ((price >= 0))
);


ALTER TABLE public.patterns_pattern OWNER TO postgres;

--
-- Name: patterns_pattern_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.patterns_pattern ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.patterns_pattern_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_otpcode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_otpcode (id, phone, code, is_used, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: accounts_usersession; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: commerce_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_cart (id, created_at, user_id, discount_id) FROM stdin;
1	2026-07-07 14:11:35.264868+00	5	\N
3	2026-07-08 11:45:20.394066+00	6	\N
4	2026-07-11 15:46:56.481532+00	16	\N
\.


--
-- Data for Name: commerce_cartitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_cartitem (id, cart_id, product_id, quantity) FROM stdin;
1	1	1	1
\.


--
-- Data for Name: commerce_discount; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_discount (id, code, percent, max_usage, used_count, is_active, start_date, end_date, created_at) FROM stdin;
1	TEST10	10	\N	1	t	\N	\N	2026-07-11 16:08:14.781099+00
\.


--
-- Data for Name: commerce_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_order (id, status, total_price, created_at, user_id, discount_id) FROM stdin;
1	pending	24	2026-07-08 11:45:56.978411+00	6	\N
2	paid	24	2026-07-08 11:48:37.411762+00	6	\N
3	pending	500024	2026-07-11 16:04:26.555724+00	16	\N
4	pending	450000	2026-07-11 16:25:39.997999+00	16	1
\.


--
-- Data for Name: commerce_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_orderitem (id, price, order_id, product_id, quantity) FROM stdin;
1	24	1	1	1
2	24	2	1	1
3	24	3	1	1
4	500000	3	2	1
5	500000	4	2	1
\.


--
-- Data for Name: commerce_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_payment (id, amount, authority, ref_id, status, created_at, order_id, gateway_response) FROM stdin;
1	24	\N	\N	pending	2026-07-08 11:45:56.984015+00	1	\N
2	24	\N	TEST-2	success	2026-07-08 11:48:37.413867+00	2	\N
3	500024	\N	\N	pending	2026-07-11 16:04:26.560997+00	3	\N
4	450000	\N	\N	pending	2026-07-11 16:25:40.00095+00	4	\N
\.


--
-- Data for Name: commerce_product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_product (id, title, type, price, is_active, created_at, course_id, pattern_id) FROM stdin;
1	╪╣╪▒┘ê╪│┌⌐	pattern	24	t	2026-07-07 14:09:31.563376+00	1	1
2	╪»┘ê╪▒┘ç ╪«█î╪º╪╖█î	course	500000	t	2026-07-11 15:48:43.434225+00	1	\N
\.


--
-- Data for Name: commerce_purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_purchase (id, created_at, order_id, product_id, user_id) FROM stdin;
1	2026-07-08 12:38:34.016139+00	2	1	6
3	2026-07-11 16:31:21.105535+00	4	2	16
5	2026-07-11 16:40:34.689361+00	4	1	16
\.


--
-- Data for Name: commerce_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commerce_wishlist (id, created_at, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: courses_chapter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_chapter (id, title, "order", course_id) FROM stdin;
1	1	1	1
2	┘ü╪╡┘ä ╪º┘ê┘ä	1	2
\.


--
-- Data for Name: courses_course; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_course (id, title, slug, description, thumbnail, price, is_published, is_free, created_at, updated_at) FROM stdin;
1	╪«█î╪º╪╖█î	kayati	╪¼┘ä╪│┘ç ╪º┘ê┘ä		300000	t	f	2026-07-07 12:44:23.768325+00	2026-07-07 12:44:23.768335+00
2	╪»┘ê╪▒┘ç ╪¬╪│╪¬█î ╪¼╪»█î╪»	test-course	╪¬╪│╪¬ ╪│╪º╪«╪¬ ╪»┘ê╪▒┘ç		700000	t	f	2026-07-12 09:37:55.856927+00	2026-07-12 09:37:55.856938+00
\.


--
-- Data for Name: courses_lesson; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_lesson (id, title, description, video, duration, "order", is_free, is_published, chapter_id, created_at, updated_at) FROM stdin;
1	╪¼┘ä╪│┘ç ╪º┘ê┘ä	╪ó╪┤┘å╪º█î█î	videos/Screenshot_2026-02-18_201305.png	2	2	f	t	1	2026-07-08 10:24:57.294174+00	2026-07-08 10:24:57.302744+00
2	╪¼┘ä╪│┘ç ╪º┘ê┘ä ╪¬╪│╪¬		videos/46cb81207260ffee623d1e17a20b137a68637811-144p.mp4	0	0	f	f	1	2026-07-12 09:50:49.355096+00	2026-07-12 09:50:49.355108+00
\.


--
-- Data for Name: courses_lessonprogress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses_lessonprogress (id, watched_seconds, completed, updated_at, lesson_id, user_id) FROM stdin;
1	60	f	2026-07-12 10:53:03.490854+00	1	16
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2026-07-07 12:44:23.771549+00	1	╪«█î╪º╪╖█î	1	[{"added": {}}]	9	5
2	2026-07-07 12:45:25.759992+00	1	Chapter object (1)	1	[{"added": {}}]	10	5
3	2026-07-07 12:46:19.351038+00	1	Lesson object (1)	1	[{"added": {}}]	11	5
4	2026-07-07 12:49:03.291843+00	1	┘ä╪¿╪º╪│ ╪╣╪▒┘ê╪│	1	[{"added": {}}]	14	5
5	2026-07-07 14:09:31.565856+00	1	╪╣╪▒┘ê╪│┌⌐	1	[{"added": {}}]	18	5
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	accounts	user
7	accounts	otpcode
8	accounts	usersession
9	courses	course
10	courses	chapter
11	courses	lesson
12	courses	coursepurchase
13	courses	lessonprogress
14	patterns	pattern
15	patterns	patternpurchase
16	commerce	cart
17	commerce	order
18	commerce	product
19	commerce	orderitem
20	commerce	cartitem
21	commerce	purchase
22	commerce	discount
23	commerce	payment
24	commerce	wishlist
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: patterns_pattern; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patterns_pattern (id, title, slug, description, thumbnail, file, price, is_published, created_at) FROM stdin;
1	┘ä╪¿╪º╪│ ╪╣╪▒┘ê╪│	lebas_aroos	╪º┘ä┌»┘ê ┘ä╪¿╪º╪│ ╪╣╪▒┘ê╪│	patterns/Screenshot_2026-02-18_201305.png	patterns/files/Screenshot_2026-02-04_224047.png	22	t	2026-07-07 12:49:03.290913+00
\.


--
-- Name: accounts_otpcode_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_otpcode_id_seq', 1, false);


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 17, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: accounts_usersession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_usersession_id_seq', 14, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 96, true);


--
-- Name: commerce_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_cart_id_seq', 4, true);


--
-- Name: commerce_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_cartitem_id_seq', 6, true);


--
-- Name: commerce_discount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_discount_id_seq', 1, true);


--
-- Name: commerce_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_order_id_seq', 4, true);


--
-- Name: commerce_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_orderitem_id_seq', 5, true);


--
-- Name: commerce_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_payment_id_seq', 4, true);


--
-- Name: commerce_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_product_id_seq', 2, true);


--
-- Name: commerce_purchase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_purchase_id_seq', 5, true);


--
-- Name: commerce_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commerce_wishlist_id_seq', 1, false);


--
-- Name: courses_chapter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_chapter_id_seq', 2, true);


--
-- Name: courses_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_course_id_seq', 2, true);


--
-- Name: courses_lesson_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_lesson_id_seq', 2, true);


--
-- Name: courses_lessonprogress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_lessonprogress_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 5, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 24, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 37, true);


--
-- Name: patterns_pattern_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.patterns_pattern_id_seq', 1, true);


--
-- Name: accounts_otpcode accounts_otpcode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_otpcode
    ADD CONSTRAINT accounts_otpcode_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_phone_key UNIQUE (phone);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_usersession accounts_usersession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_usersession
    ADD CONSTRAINT accounts_usersession_pkey PRIMARY KEY (id);


--
-- Name: accounts_usersession accounts_usersession_session_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_usersession
    ADD CONSTRAINT accounts_usersession_session_key_key UNIQUE (session_key);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: commerce_cart commerce_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_cart
    ADD CONSTRAINT commerce_cart_pkey PRIMARY KEY (id);


--
-- Name: commerce_cart commerce_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_cart
    ADD CONSTRAINT commerce_cart_user_id_key UNIQUE (user_id);


--
-- Name: commerce_cartitem commerce_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_cartitem
    ADD CONSTRAINT commerce_cartitem_pkey PRIMARY KEY (id);


--
-- Name: commerce_discount commerce_discount_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_discount
    ADD CONSTRAINT commerce_discount_code_key UNIQUE (code);


--
-- Name: commerce_discount commerce_discount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_discount
    ADD CONSTRAINT commerce_discount_pkey PRIMARY KEY (id);


--
-- Name: commerce_order commerce_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_order
    ADD CONSTRAINT commerce_order_pkey PRIMARY KEY (id);


--
-- Name: commerce_orderitem commerce_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_orderitem
    ADD CONSTRAINT commerce_orderitem_pkey PRIMARY KEY (id);


--
-- Name: commerce_payment commerce_payment_order_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_payment
    ADD CONSTRAINT commerce_payment_order_id_key UNIQUE (order_id);


--
-- Name: commerce_payment commerce_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_payment
    ADD CONSTRAINT commerce_payment_pkey PRIMARY KEY (id);


--
-- Name: commerce_product commerce_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_product
    ADD CONSTRAINT commerce_product_pkey PRIMARY KEY (id);


--
-- Name: commerce_purchase commerce_purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_purchase
    ADD CONSTRAINT commerce_purchase_pkey PRIMARY KEY (id);


--
-- Name: commerce_purchase commerce_purchase_user_id_product_id_fa966ac4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_purchase
    ADD CONSTRAINT commerce_purchase_user_id_product_id_fa966ac4_uniq UNIQUE (user_id, product_id);


--
-- Name: commerce_wishlist commerce_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_wishlist
    ADD CONSTRAINT commerce_wishlist_pkey PRIMARY KEY (id);


--
-- Name: commerce_wishlist commerce_wishlist_user_id_product_id_87f76503_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_wishlist
    ADD CONSTRAINT commerce_wishlist_user_id_product_id_87f76503_uniq UNIQUE (user_id, product_id);


--
-- Name: courses_chapter courses_chapter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_chapter
    ADD CONSTRAINT courses_chapter_pkey PRIMARY KEY (id);


--
-- Name: courses_course courses_course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_course
    ADD CONSTRAINT courses_course_pkey PRIMARY KEY (id);


--
-- Name: courses_course courses_course_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_course
    ADD CONSTRAINT courses_course_slug_key UNIQUE (slug);


--
-- Name: courses_lesson courses_lesson_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_lesson
    ADD CONSTRAINT courses_lesson_pkey PRIMARY KEY (id);


--
-- Name: courses_lessonprogress courses_lessonprogress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_lessonprogress
    ADD CONSTRAINT courses_lessonprogress_pkey PRIMARY KEY (id);


--
-- Name: courses_lessonprogress courses_lessonprogress_user_id_lesson_id_940f22e7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_lessonprogress
    ADD CONSTRAINT courses_lessonprogress_user_id_lesson_id_940f22e7_uniq UNIQUE (user_id, lesson_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: patterns_pattern patterns_pattern_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patterns_pattern
    ADD CONSTRAINT patterns_pattern_pkey PRIMARY KEY (id);


--
-- Name: patterns_pattern patterns_pattern_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patterns_pattern
    ADD CONSTRAINT patterns_pattern_slug_key UNIQUE (slug);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_phone_c603acdd_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_phone_c603acdd_like ON public.accounts_user USING btree (phone varchar_pattern_ops);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_usersession_session_key_7ce13c12_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_usersession_session_key_7ce13c12_like ON public.accounts_usersession USING btree (session_key varchar_pattern_ops);


--
-- Name: accounts_usersession_user_id_567c9519; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_usersession_user_id_567c9519 ON public.accounts_usersession USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: commerce_cart_discount_id_92d85cb0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_cart_discount_id_92d85cb0 ON public.commerce_cart USING btree (discount_id);


--
-- Name: commerce_cartitem_cart_id_443b99d0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_cartitem_cart_id_443b99d0 ON public.commerce_cartitem USING btree (cart_id);


--
-- Name: commerce_cartitem_product_id_b5e5d2ec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_cartitem_product_id_b5e5d2ec ON public.commerce_cartitem USING btree (product_id);


--
-- Name: commerce_discount_code_8009a3aa_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_discount_code_8009a3aa_like ON public.commerce_discount USING btree (code varchar_pattern_ops);


--
-- Name: commerce_order_discount_id_720ec13e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_order_discount_id_720ec13e ON public.commerce_order USING btree (discount_id);


--
-- Name: commerce_order_user_id_3f7ff6c0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_order_user_id_3f7ff6c0 ON public.commerce_order USING btree (user_id);


--
-- Name: commerce_orderitem_order_id_c812b8bd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_orderitem_order_id_c812b8bd ON public.commerce_orderitem USING btree (order_id);


--
-- Name: commerce_orderitem_product_id_eeb6e678; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_orderitem_product_id_eeb6e678 ON public.commerce_orderitem USING btree (product_id);


--
-- Name: commerce_product_course_id_1b25cdc9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_product_course_id_1b25cdc9 ON public.commerce_product USING btree (course_id);


--
-- Name: commerce_product_pattern_id_017361f7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_product_pattern_id_017361f7 ON public.commerce_product USING btree (pattern_id);


--
-- Name: commerce_purchase_order_id_90ebae5b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_purchase_order_id_90ebae5b ON public.commerce_purchase USING btree (order_id);


--
-- Name: commerce_purchase_product_id_88a24fd3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_purchase_product_id_88a24fd3 ON public.commerce_purchase USING btree (product_id);


--
-- Name: commerce_purchase_user_id_d83e0566; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_purchase_user_id_d83e0566 ON public.commerce_purchase USING btree (user_id);


--
-- Name: commerce_wishlist_product_id_c6b95372; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_wishlist_product_id_c6b95372 ON public.commerce_wishlist USING btree (product_id);


--
-- Name: commerce_wishlist_user_id_ba3dcc9a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commerce_wishlist_user_id_ba3dcc9a ON public.commerce_wishlist USING btree (user_id);


--
-- Name: courses_chapter_course_id_24d15099; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_chapter_course_id_24d15099 ON public.courses_chapter USING btree (course_id);


--
-- Name: courses_course_slug_9c670f14_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_course_slug_9c670f14_like ON public.courses_course USING btree (slug varchar_pattern_ops);


--
-- Name: courses_lesson_chapter_id_401d021a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_lesson_chapter_id_401d021a ON public.courses_lesson USING btree (chapter_id);


--
-- Name: courses_lessonprogress_lesson_id_b0b36960; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_lessonprogress_lesson_id_b0b36960 ON public.courses_lessonprogress USING btree (lesson_id);


--
-- Name: courses_lessonprogress_user_id_f1d37bb4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_lessonprogress_user_id_f1d37bb4 ON public.courses_lessonprogress USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: patterns_pattern_slug_89704853_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX patterns_pattern_slug_89704853_like ON public.patterns_pattern USING btree (slug varchar_pattern_ops);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_usersession accounts_usersession_user_id_567c9519_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_usersession
    ADD CONSTRAINT accounts_usersession_user_id_567c9519_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_cart commerce_cart_discount_id_92d85cb0_fk_commerce_discount_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_cart
    ADD CONSTRAINT commerce_cart_discount_id_92d85cb0_fk_commerce_discount_id FOREIGN KEY (discount_id) REFERENCES public.commerce_discount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_cart commerce_cart_user_id_09f4d0bc_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_cart
    ADD CONSTRAINT commerce_cart_user_id_09f4d0bc_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_cartitem commerce_cartitem_cart_id_443b99d0_fk_commerce_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_cartitem
    ADD CONSTRAINT commerce_cartitem_cart_id_443b99d0_fk_commerce_cart_id FOREIGN KEY (cart_id) REFERENCES public.commerce_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_cartitem commerce_cartitem_product_id_b5e5d2ec_fk_commerce_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_cartitem
    ADD CONSTRAINT commerce_cartitem_product_id_b5e5d2ec_fk_commerce_product_id FOREIGN KEY (product_id) REFERENCES public.commerce_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_order commerce_order_discount_id_720ec13e_fk_commerce_discount_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_order
    ADD CONSTRAINT commerce_order_discount_id_720ec13e_fk_commerce_discount_id FOREIGN KEY (discount_id) REFERENCES public.commerce_discount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_order commerce_order_user_id_3f7ff6c0_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_order
    ADD CONSTRAINT commerce_order_user_id_3f7ff6c0_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_orderitem commerce_orderitem_order_id_c812b8bd_fk_commerce_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_orderitem
    ADD CONSTRAINT commerce_orderitem_order_id_c812b8bd_fk_commerce_order_id FOREIGN KEY (order_id) REFERENCES public.commerce_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_orderitem commerce_orderitem_product_id_eeb6e678_fk_commerce_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_orderitem
    ADD CONSTRAINT commerce_orderitem_product_id_eeb6e678_fk_commerce_product_id FOREIGN KEY (product_id) REFERENCES public.commerce_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_payment commerce_payment_order_id_e1894226_fk_commerce_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_payment
    ADD CONSTRAINT commerce_payment_order_id_e1894226_fk_commerce_order_id FOREIGN KEY (order_id) REFERENCES public.commerce_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_product commerce_product_course_id_1b25cdc9_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_product
    ADD CONSTRAINT commerce_product_course_id_1b25cdc9_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_product commerce_product_pattern_id_017361f7_fk_patterns_pattern_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_product
    ADD CONSTRAINT commerce_product_pattern_id_017361f7_fk_patterns_pattern_id FOREIGN KEY (pattern_id) REFERENCES public.patterns_pattern(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_purchase commerce_purchase_order_id_90ebae5b_fk_commerce_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_purchase
    ADD CONSTRAINT commerce_purchase_order_id_90ebae5b_fk_commerce_order_id FOREIGN KEY (order_id) REFERENCES public.commerce_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_purchase commerce_purchase_product_id_88a24fd3_fk_commerce_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_purchase
    ADD CONSTRAINT commerce_purchase_product_id_88a24fd3_fk_commerce_product_id FOREIGN KEY (product_id) REFERENCES public.commerce_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_purchase commerce_purchase_user_id_d83e0566_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_purchase
    ADD CONSTRAINT commerce_purchase_user_id_d83e0566_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_wishlist commerce_wishlist_product_id_c6b95372_fk_commerce_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_wishlist
    ADD CONSTRAINT commerce_wishlist_product_id_c6b95372_fk_commerce_product_id FOREIGN KEY (product_id) REFERENCES public.commerce_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commerce_wishlist commerce_wishlist_user_id_ba3dcc9a_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commerce_wishlist
    ADD CONSTRAINT commerce_wishlist_user_id_ba3dcc9a_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_chapter courses_chapter_course_id_24d15099_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_chapter
    ADD CONSTRAINT courses_chapter_course_id_24d15099_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_lesson courses_lesson_chapter_id_401d021a_fk_courses_chapter_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_lesson
    ADD CONSTRAINT courses_lesson_chapter_id_401d021a_fk_courses_chapter_id FOREIGN KEY (chapter_id) REFERENCES public.courses_chapter(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_lessonprogress courses_lessonprogress_lesson_id_b0b36960_fk_courses_lesson_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_lessonprogress
    ADD CONSTRAINT courses_lessonprogress_lesson_id_b0b36960_fk_courses_lesson_id FOREIGN KEY (lesson_id) REFERENCES public.courses_lesson(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_lessonprogress courses_lessonprogress_user_id_f1d37bb4_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses_lessonprogress
    ADD CONSTRAINT courses_lessonprogress_user_id_f1d37bb4_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict ZxzufrP6eRtEoX6QZXac7Ay0flqdfpoXUgnT6PzR4XFMOVqScamDwSahdkS25iY

