# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Django
db.sqlite3

# User uploads
media/

# Collected static files
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Database backup
*.sql